.myBody {
	color : blue;
    text-align : leftwards;
}

.myHeader {
	color : red;
	background-color: black
}

.myHeader:hover{
	color: green;
}

title {
    color : darkturquoise;
    /* background-image : */
}

a {
    color : white;
    text-align: start;
    break-after: avoid;
}

a:hover{
    color : seagreen;
}

ul{
    color : blue;
}

li {
    color : black;
    text-emphasis-color: blue;
}

li:hover {
    color : lightblue;
}

li:any-link{
    color : lightcoral;
}

h1{
    color : darkcyan;
    text-align: center;
}

h1:hover{
    color : darkred;
}

body {
	color:darkgreen;
    background-color: black;
    border-bottom-color: red;
    border-top-color: blue;
    text-align: center;
}

input {
    color:white;
    background-color: black;
    align-self: center;
}

div {
    height:auto;
}

p {
    color:white;
    -moz-text-size-adjust: 80%;
    text-justify: auto;
    border-spacing: "1px";
    font-size : 125%;
    height:"5px";
    letter-spacing: "5px";
}

table {
	color: darkgreen;
	background-color: lightcyan;
	border-color: black;
}

.about-greeting {
    color : white;
    text-justify: auto;
    padding: 3%;
}

.about-information{
    color:white;
    text-justify: distribute;
    padding: 2%;
}

.about-contact{
    color:white;
    text-justify: kashida;
    padding: 2%;
}