title {
    color : darkturquoise;
    /* background-image : */
}

a {
    color : white;
    text-align: start;
    break-after: avoid;
}

a:hover{
    color : seagreen;
}

ul{
    color : blue;
}

li {
    color : black;
    text-emphasis-color: blue;
}

li:hover {
    color : lightblue;
}

li:any-link{
    color : lightcoral;
}

h1{
    color : darkcyan;
    text-align: center;
}

h1:hover{
    color : darkred;
}

body {
	color:darkgreen;
    background-color: gray;
    border-bottom-color: red;
    border-top-color: blue;
    text-align: center;
    background-image: url("resources/g5c9goA.png");
    background-position: center;
    background-size: contain;
}

input {
    color:white;
    background-color: black;
    align-self: center;
}

div {
    height:auto;
}

p {
    color:rgb(233, 217, 213);
    text-justify: auto;
    border-spacing: "1px";
    font-size : 125%;
    height:"5px";
    letter-spacing: "5px";
    font-weight: 750;
}

table {
	color: darkgreen;
	background-color: lightcyan;
	border-color: black;
}

.log-div{
    color:lightgray;
    font-size : 145%;
    font-weight: 650;
    font-style: italic;
    align-content: center;
    border: none;
    -webkit-text-fill-color: lightgray;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;


}

.monsters-table-div {
    align-content: center;
    align-self: center;
    padding: 2%;
    padding-left: 20%;
}

.monsters-table {
    background-color: black;
    align-self: center;
    text-align: left;
    width: 85%;
    font-size: 28px;
    table-layout: auto;
    border: 2px solid black;
}

.monsters-table-header-row {
    font-size: 78%;
    text-align: left;
}

.monsters-table-header-monsterName {
    width: 20%;
    padding:5px;
    text-align: center;
}

.monsters-table-header-rank {
    width: 10%;
    padding: 5px;
    text-align: center;
}

.monsters-table-header-weaknesses {
    width: 70%;
    padding: 5px;
    text-align: center;
}

.monsters-table-row {
    font-size: 58%;
    text-align: center;
    background-color: darkgray;
    padding: 2%;
    border: 1px solid black;
}

.monsters-table-row:hover{
    background-color: darkslategray;
    color:white;
}

.monsters-table-entry{
    border: 1px solid black;
}

.logs-table-div {
    align-content: center;
    align-self: center;
    padding: 2%;
    padding-left: 20%;
}

.logs-table {
    background-color: black;
    align-self: center;
    text-align: left;
    width: 85%;
    font-size: 28px;
    table-layout: auto;
    border: 2px solid black;
}

.logs-table-header-row {
    font-size: 78%;
    text-align: left;
}

.logs-table-header-row_id{
    width: 15%;
    padding: 5px;
    align-content: center;
}

.logs-table-header-time {
    width: 40%;
    padding:5px;
    text-align: center;
}

.logs-table-header-number_of_players {
    width: 20%;
    padding: 5px;
    text-align: center;
}

.logs-table-row {
    font-size: 58%;
    text-align: center;
    background-color: darkgray;
    padding: 2%;
    border: 1px solid black;
}

.logs-table-row:hover{
    background-color: darkslategray;
    color:white;
}

.logs-table-entry{
    border: 1px solid black;
}

.login-button {
    color : black;
    background-color : #dfae0e;
    text-align: center;
    padding : 2px 15px;
    text-decoration: none;
    display: inline-flex;
    margin:2px 2px;
    border : none;
    font-size: 16px;
    opacity: 0.7;
    transition: opacity 0.2s linear 0.2ms;
    cursor : pointer;
}

.login-button:hover{
    opacity: 1.0;
    background-color : #dfae0e;
}

.register-button {
    color : rgb(0, 0, 0);
    background-color: rgb(206, 13, 13);
    text-align: center;
    padding : 2px 15px;
    text-decoration: none;
    display: inline-flex;
    margin:2px 2px;
    border : none;
    font-size: 16px;
    opacity: 0.7;
    transition: opacity 0.2s linear 0.2ms;
    cursor : pointer;
}

.register-button:hover{
    opacity: 1.0;
}

.monster-name-button{
    color: darkgreen;
    color : black;
    background-color: darkgray;
    text-align: center;
    border:none;
    position: relative;
}

.username-input{
    background-color: white;
    opacity: 0.6;
}

.username-input:focus{
    background-color: rgb(184, 33, 33);
    opacity: 0.9;
}

.password-input{
    background-color: white;
    opacity: 0.6;
}

.password-input:focus{
    background-color: rgb(184, 33, 33);
    opacity: 0.9;
}

#site-nav-bar {
    color : rgb(155, 255, 205);
    background-color: rgb(15, 15, 15);
    background-image: url("resources/Monster_Hunter_Wallpaper_by_McKn2007.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

#site-nav-bar-list {
    color : rgb(8, 112, 144);
    background-color: rgb(15, 15, 15);
}
#site-nav-bar-list :hover{
    color : rgb(47, 190, 233);
}